@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.003 247.858);
  --color-base-200: oklch(98% 0.002 247.839);
  --color-base-300: oklch(98% 0 0);
  --color-base-content: oklch(12% 0.042 264.695);
  --color-primary: oklch(92% 0.013 255.508);
  --color-primary-content: oklch(13% 0.028 261.692);
  --color-secondary: oklch(27% 0.041 260.031);
  --color-secondary-content: oklch(92% 0.004 286.32);
  --color-accent: oklch(98% 0.031 120.757);
  --color-accent-content: oklch(27% 0.072 132.109);
  --color-neutral: oklch(20% 0.042 265.755);
  --color-neutral-content: oklch(92% 0.006 264.531);
  --color-info: oklch(54% 0.245 262.881);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(60% 0.118 184.704);
  --color-success-content: oklch(98% 0.014 180.72);
  --color-warning: oklch(66% 0.179 58.318);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
