#main-title {
    text-align: center;
    margin: 10rem 0;
}

#main-title::before {
    display: block;
    background-color: #666;
    padding: 1rem;
}

img {
    max-width: 20%;
}

#our-history {
    display: flex;
    justify-content: space-between;
}